.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.chat{
 
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  height: 50%;
}
.forms{
  margin-bottom: 20%;
}

.messagebox{
  background-color: gainsboro;
  width: 45%;
  padding: 0.2vmax;
  margin: 0.5vmax;
  border-radius:0.5vmax;
  display: inline-block;
  clear: both;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.right{ 
  background-color: crimson;
  color: white;
  margin-top: 10px;
}
.left{
  
  background-color: rgb(196, 255, 184);
  color: black;
  margin-top: 10px;
}
.chatbox{
  border: 0.2vmax solid black;
  height: 70%;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
